@model LoanApp.Models.CreditApplication

@{
    ViewBag.Title = "Get Credit";

    //@Model.Customer.Errors.TryGetValue("Name", out string name);
    //@Model.Customer.Errors.TryGetValue("SureName", out string sureName);
    //@Model.Customer.Errors.TryGetValue("DateOfBirth", out string dateOfBirth);
    //@Model.Customer.Errors.TryGetValue("IsMarried", out string isMarried);
    //@Model.Customer.Errors.TryGetValue("IDNumber", out string idNumber);
    //@Model.Customer.Errors.TryGetValue("Workplace", out string workplace);
    //@Model.Customer.Errors.TryGetValue("NetSallary", out string netSallary);
    //@Model.Customer.Errors.TryGetValue("HaveFamilyMamber", out string haveFamilyMamber);
}

<link href="~/css/getCredit.css" rel="stylesheet" />

@*<link rel="stylesheet" href="~/lib/jquery ui/jquery-ui.css">
<script src="~/lib/jquery ui/jquery-ui.js"></script>*@

<script src="~/js/getCredit.js"></script>

<div class="container">
    <h1>Please fill this fields</h1>

    @using(Html.BeginForm("GetCredit", "Home", FormMethod.Post)){
    <table class="table">
        <tr>
            <td>@Html.LabelFor(m => m.Customer.Name)</td>
            <td>@Html.EditorFor(m => m.Customer.Name)</td>
            @*<td>@name</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.SurName)</td>
            <td>@Html.EditorFor(m => m.Customer.SurName)</td>
            @*<td>@sureName</td>*@
        </tr>
        <tr>
            @*class="datepicker"*@
            <td>@Html.LabelFor(m => m.Customer.DateOfBirth)</td>
            <td @*class="datepicker"*@>@Html.EditorFor(m => m.Customer.DateOfBirth)</td>
            @*<td>@dateOfBirth</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.IsMarried)</td>
            <td>@Html.EditorFor(m => m.Customer.IsMarried)</td>
            @*<td>@isMarried</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.IDNumber)</td>
            <td>@Html.EditorFor(m => m.Customer.IDNumber)</td>
            @*<td>@idNumber</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.Workplace)</td>
            <td>@Html.EditorFor(m => m.Customer.Workplace)</td>
            @*<td>@workplace</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.NetSallary)</td>
            <td>@Html.EditorFor(m => m.Customer.NetSallary)</td>
            @*<td>@netSallary</td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Customer.HaveFamilyMamber)</td>
            <td><span id="otherFamilyMember">@Html.EditorFor(m => m.Customer.HaveFamilyMamber)</span></td>
            @*<td>@haveFamilyMamber</td>*@
        </tr>
    </table>

    <div class="memberOperations">
        <span class="btn btn-success addMember">Add</span>
        <span class="btn btn-danger removeMember">Remove</span>
    </div>

    <div class="anotherFamilyMemberField">
        @for (int i = 0; i < Model.Customer.FamilyMamber.Count; i++)
        {
            <table class="table">
                <tr>
                    <td>@Html.LabelFor(m => m.Customer.FamilyMamber[i].Name)</td>
                    <td>@Html.EditorFor(m => m.Customer.FamilyMamber[i].Name)</td>
                    @*<td>@name</td>*@
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Customer.FamilyMamber[i].SurName)</td>
                    <td>@Html.EditorFor(m => m.Customer.FamilyMamber[i].SurName)</td>
                    @*<td>@sureName</td>*@
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Customer.FamilyMamber[i].IDNumber)</td>
                    <td>@Html.EditorFor(m => m.Customer.FamilyMamber[i].IDNumber)</td>
                    @*<td>@idNumber</td>*@
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Customer.FamilyMamber[i].Workplace)</td>
                    <td>@Html.EditorFor(m => m.Customer.FamilyMamber[i].Workplace)</td>
                    @*<td>@workplace</td>*@
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Customer.FamilyMamber[i].NetSallary)</td>
                    <td>@Html.EditorFor(m => m.Customer.FamilyMamber[i].NetSallary)</td>
                    @*<td>@netSallary</td>*@
                </tr>
            </table>
        }
    </div>

    <table class="table">
        <tr>
            <td>@Html.LabelFor(m => m.CreditAmmount)</td>
            <td>@Html.EditorFor(m => m.CreditAmmount)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LoanRepaymentPeriodInMonth)</td>
            <td>@Html.EditorFor(m => m.LoanRepaymentPeriodInMonth)</td>
        </tr>
    </table>

    <input type="submit" name="submit" value="Submit" class="submit" />
    }
</div>